In [2]:
using RDatasets, DataFrames

In [3]:
RDatasets.packages()

34×2 DataFrame
 Row │ Package       Title
     │ String15      String
─────┼─────────────────────────────────────────────────
   1 │ COUNT         Functions, data and code for cou…
   2 │ Ecdat         Data sets for econometrics
   3 │ HSAUR         A Handbook of Statistical Analys…
   4 │ HistData      Data sets from the history of st…
   5 │ ISLR          Data for An Introduction to Stat…
   6 │ KMsurv        Data sets from Klein and Moeschb…
   7 │ MASS          Support Functions and Datasets f…
   8 │ SASmixed      Data sets from "SAS System for M…
  ⋮  │      ⋮                        ⋮
  28 │ reshape2      Flexibly Reshape Data: A Reboot …
  29 │ robustbase    Basic Robust Statistics
  30 │ rpart         Recursive Partitioning and Regre…
  31 │ sandwich      Robust Covariance Matrix Estimat…
  32 │ sem           Structural Equation Models
  33 │ survival      Survival Analysis
  34 │ vcd           Visualizing Categorical Data
                                        19 rows omitted

In [4]:
RDatasets.datasets("datasets")

50×5 DataFrame
 Row │ Package   Dataset           Title                              Rows   C ⋯
     │ String15  String31          String                             Int64  I ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ datasets  BOD               Biochemical Oxygen Demand              6    ⋯
   2 │ datasets  CO2               Carbon Dioxide Uptake in Grass P…     84
   3 │ datasets  Formaldehyde      Determination of Formaldehyde          6
   4 │ datasets  HairEyeColor      Hair and Eye Color of Statistics…     32
   5 │ datasets  InsectSprays      Effectiveness of Insect Sprays        72    ⋯
   6 │ datasets  LifeCycleSavings  Intercountry Life-Cycle Savings …     50
   7 │ datasets  Loblolly          Growth of Loblolly pine trees         84
   8 │ datasets  OrchardSprays     Potency of Orchard Sprays             64
  ⋮  │    ⋮             ⋮                          ⋮                    ⋮      ⋱
  44 │ datasets  sleep             Student's Sleep Data                  20    ⋯
  45 │ datasets  stackloss         Brownlee's Stack Loss Plant Data      21
  46 │ datasets  swiss             Swiss Fertility and Socioeconomi…     47
  47 │ datasets  trees             Girth, Height and Volume for Bla…     31
  48 │ datasets  volcano           Topographic Information on Auckl…     87    ⋯
  49 │ datasets  warpbreaks        The Number of Breaks in Yarn dur…     54
  50 │ datasets  women             Average Heights and Weights for …     15
                                                    1 column and 35 rows omitted

In [5]:
iris=RDatasets.dataset("datasets","iris")

150×5 DataFrame
 Row │ SepalLength  SepalWidth  PetalLength  PetalWidth  Species
     │ Float64      Float64     Float64      Float64     Cat…
─────┼─────────────────────────────────────────────────────────────
   1 │         5.1         3.5          1.4         0.2  setosa
   2 │         4.9         3.0          1.4         0.2  setosa
   3 │         4.7         3.2          1.3         0.2  setosa
   4 │         4.6         3.1          1.5         0.2  setosa
   5 │         5.0         3.6          1.4         0.2  setosa
   6 │         5.4         3.9          1.7         0.4  setosa
   7 │         4.6         3.4          1.4         0.3  setosa
   8 │         5.0         3.4          1.5         0.2  setosa
  ⋮  │      ⋮           ⋮            ⋮           ⋮           ⋮
 144 │         6.8         3.2          5.9         2.3  virginica
 145 │         6.7         3.3          5.7         2.5  virginica
 146 │         6.7         3.0          5.2         2.3  virginica
 147 │         6.3         2.5          5.0         1.9  virginica
 148 │         6.5         3.0          5.2         2.0  virginica
 149 │         6.2         3.4          5.4         2.3  virginica
 150 │         5.9         3.0          5.1         1.8  virginica
                                                   135 rows omitted

In [6]:
iris[11:20,:SepalWidth]

10-element Vector{Float64}:
 3.7
 3.4
 3.0
 3.0
 4.0
 4.4
 3.9
 3.5
 3.8
 3.8

In [7]:
data = DataFrame(
          A = 1:2:13,
          B = ["M", "F", "F", "M","X","F","M"],
          C=[3.0,2.5,pi,-2.3,1/3,56,100],
          D=[(-1)^n//n for n=1:7]
        )

7×4 DataFrame
 Row │ A      B       C           D
     │ Int64  String  Float64     Rational…
─────┼──────────────────────────────────────
   1 │     1  M         3.0           -1//1
   2 │     3  F         2.5            1//2
   3 │     5  F         3.14159       -1//3
   4 │     7  M        -2.3            1//4
   5 │     9  X         0.333333      -1//5
   6 │    11  F        56.0            1//6
   7 │    13  M       100.0           -1//7

In [12]:
describe(iris)

5×7 DataFrame
 Row │ variable     mean     min     median  max        nmissing  eltype       ⋯
     │ Symbol       Union…   Any     Union…  Any        Int64     DataType     ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ SepalLength  5.84333  4.3     5.8     7.9               0  Float64      ⋯
   2 │ SepalWidth   3.05733  2.0     3.0     4.4               0  Float64
   3 │ PetalLength  3.758    1.0     4.35    6.9               0  Float64
   4 │ PetalWidth   1.19933  0.1     1.3     2.5               0  Float64
   5 │ Species               setosa          virginica         0  CategoricalV ⋯
                                                                1 column omitted

In [9]:
using Statistics
mean(iris[!,:SepalLength]),std(iris[!,:SepalLength])

(5.843333333333334, 0.828066127977863)

In [14]:
sqrt(sin(big(2.0)))

0.9535708819095105398718705441330078869495314128723191646104050462287315327622005

In [10]:
1:5  |>
  collect  |>
  arr  -> deleteat!(arr,3) |>
  mean

3.0

In [12]:
using Chain, Statistics

In [13]:
@chain 1:7 begin
  collect
  deleteat!(4)
  mean
end

4.0

In [14]:
@chain 1:10 begin
  map(x -> x^2, _)
  filter(x -> x % 2 == 0, _)
  std
end

38.67815921162743

In [19]:
simpsons = DataFrame(
  id=1:2:13,
  name=["Homer","Marge","Lisa","Bart","Maggie","Apu","Moe"],
  age =[45,42,8,10,1,38,59],
  salary = [50000,25000,10000,missing,missing,45000,3000],
  favorite_food = ["pork chops","casserole","salad","hamburger",missing,"saag paneer","peanuts"]
)

7×5 DataFrame
 Row │ id     name    age    salary   favorite_food
     │ Int64  String  Int64  Int64?   String?
─────┼──────────────────────────────────────────────
   1 │     1  Homer      45    50000  pork chops
   2 │     3  Marge      42    25000  casserole
   3 │     5  Lisa        8    10000  salad
   4 │     7  Bart       10  missing  hamburger
   5 │     9  Maggie      1  missing  missing
   6 │    11  Apu        38    45000  saag paneer
   7 │    13  Moe        59     3000  peanuts

In [20]:
describe(simpsons)

5×7 DataFrame
 Row │ variable       mean     min        median   max    nmissing  eltype     ⋯
     │ Symbol         Union…   Any        Union…   Any    Int64     Type       ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ id             7.0      1          7.0      13            0  Int64      ⋯
   2 │ name                    Apu                 Moe           0  String
   3 │ age            29.0     1          38.0     59            0  Int64
   4 │ salary         26600.0  3000       25000.0  50000         2  Union{Miss
   5 │ favorite_food           casserole           salad         1  Union{Miss ⋯
                                                                1 column omitted

In [21]:
typeof(simpsons[!,:salary])

Vector{Union{Missing, Int64}} (alias for Array{Union{Missing, Int64}, 1})

In [22]:
mean(simpsons[!,:age])

29.0

In [23]:
mean(simpsons[!,:salary])

missing

In [24]:
salary = skipmissing(simpsons[!,:salary])

skipmissing(Union{Missing, Int64}[50000, 25000, 10000, missing, missing, 45000, 3000])

In [25]:
mean(salary)

26600.0

In [27]:
using CSV

In [30]:
CSV.read("simple.csv", DataFrame)

6×5 DataFrame
 Row │ Name      Age    Sex      Shoe Size  Pay Rate
     │ String15  Int64  String1  Float64    Float64
─────┼───────────────────────────────────────────────
   1 │ Alice        18  F              6.5     15.5
   2 │ Barry        24  M             12.0     18.25
   3 │ Charlize     45  X              8.0     22.5
   4 │ Doreen       72  F              7.5     24.5
   5 │ Edgar        64  M             10.0     33.0
   6 │ Francine     16  F              9.0     18.75

In [32]:
CSV.read("simple.csv", DataFrame, normalizenames = true)

6×5 DataFrame
 Row │ Name      Age    Sex      Shoe_Size  Pay_Rate
     │ String15  Int64  String1  Float64    Float64
─────┼───────────────────────────────────────────────
   1 │ Alice        18  F              6.5     15.5
   2 │ Barry        24  M             12.0     18.25
   3 │ Charlize     45  X              8.0     22.5
   4 │ Doreen       72  F              7.5     24.5
   5 │ Edgar        64  M             10.0     33.0
   6 │ Francine     16  F              9.0     18.75

In [21]:
using XLSX

SYSTEM: caught exception of type :MethodError while trying to print a failed Task notice; giving up

SYSTEM: caught exception of type :MethodError while trying to print a failed Task notice; giving up

In [22]:
xf = XLSX.readxlsx("simple.xlsx")

XLSXFile("simple.xlsx") containing 1 Worksheet
            sheetname size          range
-------------------------------------------------
               Sheet1 7x5           A1:E7

In [40]:
xf["Sheet1"]

7×5 XLSX.Worksheet: ["Sheet1"](A1:E7)

In [23]:
df = DataFrame(XLSX.readtable("simple.xlsx", "Sheet1"))

6×5 DataFrame
 Row │ Name      Age  Sex  Shoe Size  Pay Rate
     │ Any       Any  Any  Any        Any
─────┼─────────────────────────────────────────
   1 │ Alice     18   F    6.5        15.5
   2 │ Barry     24   M    12         18.25
   3 │ Charlize  45   X    8          22.5
   4 │ Doreen    72   F    7.5        24.5
   5 │ Edgar     64   M    10         33
   6 │ Francine  16   F    9          18.75

In [24]:
df = DataFrame(XLSX.readtable("simple.xlsx", "Sheet1", infer_eltypes = true))

6×5 DataFrame
 Row │ Name      Age    Sex     Shoe Size  Pay Rate
     │ String    Int64  String  Float64    Float64
─────┼──────────────────────────────────────────────
   1 │ Alice        18  F             6.5     15.5
   2 │ Barry        24  M            12.0     18.25
   3 │ Charlize     45  X             8.0     22.5
   4 │ Doreen       72  F             7.5     24.5
   5 │ Edgar        64  M            10.0     33.0
   6 │ Francine     16  F             9.0     18.75

In [25]:
df[!,:Name] = convert.(String15, df[!,:Name])
df[!,:Sex] = convert.(String1, df[!,:Sex])

6-element Vector{String1}:
 "F"
 "M"
 "X"
 "F"
 "M"
 "F"

In [26]:
df

6×5 DataFrame
 Row │ Name      Age    Sex      Shoe Size  Pay Rate
     │ String15  Int64  String1  Float64    Float64
─────┼───────────────────────────────────────────────
   1 │ Alice        18  F              6.5     15.5
   2 │ Barry        24  M             12.0     18.25
   3 │ Charlize     45  X              8.0     22.5
   4 │ Doreen       72  F              7.5     24.5
   5 │ Edgar        64  M             10.0     33.0
   6 │ Francine     16  F              9.0     18.75

In [27]:
rename!(df, :"Shoe Size" => :Shoe_Size, :"Pay Rate" => :Pay_Rate)

6×5 DataFrame
 Row │ Name      Age    Sex      Shoe_Size  Pay_Rate
     │ String15  Int64  String1  Float64    Float64
─────┼───────────────────────────────────────────────
   1 │ Alice        18  F              6.5     15.5
   2 │ Barry        24  M             12.0     18.25
   3 │ Charlize     45  X              8.0     22.5
   4 │ Doreen       72  F              7.5     24.5
   5 │ Edgar        64  M             10.0     33.0
   6 │ Francine     16  F              9.0     18.75

In [47]:
df[!,:Name] = convert.(String, df[!,:Name])
df[!,:Age] = convert.(Int64, df[!,:Age])
df[!,:Sex] = convert.(String, df[!,:Sex])
df[!,:Shoe_Size] = convert.(Float64, df[!,:Shoe_Size])
df[!,:Pay_Rate] = convert.(Float64, df[!,:Pay_Rate])

6-element Vector{Float64}:
 15.5
 18.25
 22.5
 24.5
 33.0
 18.75

In [48]:
df

6×5 DataFrame
 Row │ Name      Age    Sex     Shoe_Size  Pay_Rate
     │ String    Int64  String  Float64    Float64
─────┼──────────────────────────────────────────────
   1 │ Alice        18  F             6.5     15.5
   2 │ Barry        24  M            12.0     18.25
   3 │ Charlize     45  X             8.0     22.5
   4 │ Doreen       72  F             7.5     24.5
   5 │ Edgar        64  M            10.0     33.0
   6 │ Francine     16  F             9.0     18.75

In [49]:
df = DataFrame(XLSX.readtable("simple.xlsx", "Sheet1", infer_eltypes=true))

6×5 DataFrame
 Row │ Name      Age    Sex     Shoe Size  Pay Rate
     │ String    Int64  String  Any        Any
─────┼──────────────────────────────────────────────
   1 │ Alice        18  F       6.5        15.5
   2 │ Barry        24  M       12         18.25
   3 │ Charlize     45  X       8          22.5
   4 │ Doreen       72  F       7.5        24.5
   5 │ Edgar        64  M       10         33
   6 │ Francine     16  F       9          18.75

In [16]:
using CSV

In [18]:
simple = CSV.read("simple.csv", DataFrame)

6×5 DataFrame
 Row │ Name      Age    Sex      Shoe Size  Pay Rate
     │ String15  Int64  String1  Float64    Float64
─────┼───────────────────────────────────────────────
   1 │ Alice        18  F              6.5     15.5
   2 │ Barry        24  M             12.0     18.25
   3 │ Charlize     45  X              8.0     22.5
   4 │ Doreen       72  F              7.5     24.5
   5 │ Edgar        64  M             10.0     33.0
   6 │ Francine     16  F              9.0     18.75

In [19]:
simple = CSV.read("simple.csv", DataFrame, normalizenames = true)

6×5 DataFrame
 Row │ Name      Age    Sex      Shoe_Size  Pay_Rate
     │ String15  Int64  String1  Float64    Float64
─────┼───────────────────────────────────────────────
   1 │ Alice        18  F              6.5     15.5
   2 │ Barry        24  M             12.0     18.25
   3 │ Charlize     45  X              8.0     22.5
   4 │ Doreen       72  F              7.5     24.5
   5 │ Edgar        64  M             10.0     33.0
   6 │ Francine     16  F              9.0     18.75

In [20]:
xf = XLSX.readxlsx("simple.xlsx")

UndefVarError: UndefVarError: `XLSX` not defined in `Main`
Suggestion: check for spelling errors or missing imports.